.brand-list {
  overflow: hidden;
  overflow-y: hidden !important;
  outline: none;
}

.brand-list > div {
  overflow: hidden;
  outline: none;
}

.brand-list:hover, .brand-list:active, .brand-list:focus {
  overflow-y: auto !important;
}

.brand-list li {
  list-style: none;
  padding-left: 4px;
  border-radius: 4px;
}

.brand-list li:hover {
  background-color: rgba(216,216,216,0.75);
}
