.parentContainer {
  height: 100%; /* cross-browser */
  width: 100%;
}

.contentBackground {
  min-height: calc(100% - 100px - 70px - 48px);
  background-color: #f5f5f5;
  display: flex;
  justify-content: center;
  margin: 0px;
  padding:0px;
  width: 100%;
}

.contentsContainer {
  max-width: 944px;
  margin: 0px;
  padding: 0px;
  width: 100%;
}
