.card {
  margin-right: calc(2*8px);
  margin-bottom: calc(2*8px);
  height: calc(2*249px);
  width: calc(100% - 16px);
  /*min-width: calc(2*148px);*/
  border-radius: calc(2*4px);
  box-shadow: none;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: black;
  border-radius: 4px;
  background-color: #ffffff;
  text-align: center;
  display: flex;

  :nth-child(2n) {
    margin-right: 0px;
  }
}

.card:hover {
  box-shadow: none;
}

a:hover {
  text-decoration: none;
}

.productContents {
  padding: 24px;
  height: calc(2*249px);
  width: calc(2*148px);
  align-items: center;
  justify-content: center;
}

.img-container {
  max-height: calc(2*132px);
  max-width: calc(2*116px);
  padding-top: calc(2*8px);
  padding-bottom: calc(2*8px);
}

.image {
  object-fit: contain;
  width: calc(2*116px);
  height: calc(2*132px - 32px);
}

.title {
  font-size: calc(2*14px);
  margin-top: calc(2*8px);
  margin-bottom: calc(2*8px);
  height: calc(2*44px);
  display: block;
  overflow: hidden;
  font-family: 'Lato', sans-serif;
}

.price {
  font-size: calc(2*14px);
  margin-top: calc(2*8px);
  height: calc(2*20px);
  font-family: 'Lato', sans-serif;
}

.salePrice {
  color: #D0011B;
}

@media (min-width: 1000px) {
  /* Not Mobile */
  .card {
    /*margin: 8px;*/
    border-radius: 4px;
    width: 220px;
    height: 322px;
    transition: box-shadow 0.3s;
    overflow: hidden;
  }

  .card:hover {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  }

  .productContents {
    padding-top: 16px;
    padding-left: 8px;
    padding-right: 8px;
    padding-bottom: 16px;
    width: 220px;
    height: 322px;
    /*float: left;*/
  }

  .img-container {
    max-height: 194px;
    /*max-width: 172px;*/
    display: block;
    padding-top: 8px;
    padding-bottom: 8px;
  }

  .image {
    max-height: calc(194px - 16px);
    max-width: 172px;
    margin: 0 auto;
  }

  .title {
    font-size: 14px;
    margin-top: 8px;
    margin-bottom: 8px;
    height: 44px;
    overflow: hidden;
    display: block;
  }

  .price {
    font-size: 14px;
    margin-top: 8px;
    height: 30px;
    display: block;
  }
}
