.filter-container {
  visibility: hidden;
}

span.filter-title {
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  font-weight: bold;
  display: block;
  padding-bottom: 12px;
}

div.filter-section {
  margin-top: 32px;
  margin-bottom: 32px;
}

ul.filter-list {
  padding-left: 0px;
  overflow: hidden;
  height: 282px;
}

ul.filter-list:hover, ul.filter-list:active, ul.filter-list:focus {
  overflow-y: auto;
}

ul.filter-list li {
  display: block;
  border-radius: 4px;
  padding-left: 4px;
}

ul.filter-list li:hover {
  background-color: rgba(216,216,216,0.75);
}

label.filter-item {
  font-family: 'Lato', sans-serif;
  font-weight: normal;
  display: block;
  white-space: pre;
}

input.filter-checkbox {
  margin-right: 12px;
}

@media (min-width: 1000px) {
  .filter-container {
    visibility: visible;
    width: 25%;
    float: left;
    background: transparent;
    min-width: 264px;
    max-width: 264px;
    padding-top: 8px;
    padding-right: 32px;
    padding-left: 32px;
  }
}
