#login-buttons {
  padding: 16px;
}

div#login-buttons-password.login-button.login-button-form-submit {
  font-family: "Lato", sans-serif;
  background-color: #4C85EE;
  border: 0px;
}

div#login-buttons-password.login-button.login-button-form-submit:hover {
  background-color: rgba(76, 133, 238, 0.75);
}

div#login-buttons-logout.login-button {
  background-color: #D0011B;
  border: 0px;
}

div#login-buttons-logout.login-button:hover {
  background-color: rgba(208, 2, 27, 0.75);
}

div#login-buttons-open-change-password.login-button {
  background-color: rgba(190, 190, 190, 1);
  border: 0px;
}

div#login-buttons-open-change-password.login-button:hover {
  background-color: rgba(190, 190, 190, 0.75);
}

.login-link-text {
  font-size: calc(2*14px);
  color: #ffffff;
  text-decoration: none;
}

.login-link-text:hover {
  color: rgba(255, 255, 255, 0.75);
}

.login-button {
  font-family: "Lato", sans-serif;
}

#login-buttons a, .accounts-dialog a {
  text-decoration: none;
  font-family: "Lato", sans-serif;
}

.or-text, #login-password-label, #login-password-label {
  font-family: "Lato", sans-serif;
}

#nav-link-contact {
  visibility: hidden;
  width: 0px;
  margin: 0;
  padding: 0;
}

@media (min-width: 1000px) {
  .login-link-text {
    font-size: 14px;
  }

  #nav-link-contact {
    visibility: visible;
    width: auto;
    padding: 16px;
    padding-right: 16px;
  }
}
